.button {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 18px;
  background-color: #1A226B;
  border-radius: 10px;
}

.change-form {
  position: absolute;
  top: 11px;
  right: 11px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #1A226B;
  background-color: transparent;
}